:root {
  --alpha: #22EFAF;
  --bravo: #FFA099;
  --charlie: #EF80AF;
  --delta: #FFECCF;
  --valid: #99FFAE;
  --invalid: #F09;
  --ghost: ghostwhite;
  --grey: lightslategray;
  --zero: #222;
  --display: "ZCOOL QingKe HuangYou";
  --sans: "Public Sans";
  --flair: "DM Mono";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--delta);
  background: linear-gradient(var(--bravo), var(--delta));
  background-repeat: no-repeat;
  margin: 2em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--display);
  font-size: 3rem;
  color: var(--light-grey);
  margin: 20px 0 40px 0;
}

.site_title {
  margin: 50px auto;
}

.todo-app {
  background-color: var(--form-bg);
  width: 450px;
  height: min(560px, 70vh);
  border: 5px solid var(--form-bg);
  border-radius: 8px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

input,
button {
  font-family: var(--sans);
  font-size: 1em;
  padding: 0.1em 0.4em;
}

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  min-width: 50px;
  min-height: 30px;
  font-family: var(--sans);
  font-size: 1rem;
  color: var(--ghost);
  font-weight: bold;
  background: var(--alpha);
  border: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: var(--zero);
}

.large-btn {
  width: auto;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}

.close-task-form-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  width: 20px;
  height: 20px;
}

.task-form {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--form-bg);
  border-radius: 5px;
  padding: 15px;
  width: 450px;
  height: min(560px, 70vh);
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.task-form-header {
  display: flex;
  justify-content: flex-end;
}

.task-form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: var(--sans);
}

.task-form-footer {
  display: flex;
  justify-content: center;
}

.task-form-label,
#title-input,
#date-input,
#description-input {
  display: block;
}

.task-form-label {
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 600;
}

input {
  background: var(--form-bg);
  color: var(--bravo);
  border: none;
  border-bottom: 1px solid var(--delta);
  width: 100%;
  max-width: 100%;
}

input:focus,
textarea:focus {
  color: var(--zero);
}

textarea {
  font-family: var(--flair);
  font-size: 1rem;
  color: var(--bravo);
  border: 1px solid var(--delta);
  outline: none;
}

#open-task-form-btn,
#add-or-update-task-btn {
  align-self: flex-end;
}

#title-input,
#date-input,
#description-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px;
}

#confirm-close-dialog {
  font-family: var(--sans);
  padding: 15px 25px;
  margin: 10px auto;
  border: 2px solid white;
  border-radius: 10px;
}

.confirm-close-dialog-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.discard-message-text {
  font-weight: bold;
  font-size: 1.5rem;
}

#tasks-container {
  height: 100%;
  overflow-y: auto;
}

.task {
  font-family: var(--sans);
  padding: 10px 0;
  margin-top: 5px 0;
  border-bottom: 1px solid var(--alpha);
}

.date {
  font-size: 1rem;
  color: var(--grey);
}

.wrap {
  width: 100%;
  word-break: break-word;
}

.mod-task-btn {
  color: var(--charlie);
  font-size: 1rem;
  background: none;
  border: none;
  border-radius: none;
  font-size: 0.8rem;
  margin-top: 10px;
}

.mod-task-btn:hover,
.mod-task-btn:active,
.mod-task-btn:focus {
  background: var(--zero);
}

.hidden {
  display: none;
}

@media (min-width: 576px) {
  .task-form-label {
    font-size: 1.5rem;
  }

  #title-input,
  #date-input {
    height: 2rem;
  }

  #title-input,
  #date-input,
  #description-input {
    padding: 5px;
    margin-bottom: 20px;
  }
}
